:root {
    --clr-black: hsla(0, 0%, 20%, 1);
    --clr-grey: hsla(0, 0%, 40%, 1);
    --clr-grey-opacity: hsla(0, 0%, 40%, 0.4);
    --clr-black-opacity: hsla(0, 0%, 20%, 0.6);
    --clr-white: hsla(0, 0%, 98%, 1);
    --clr-green: hsla(135, 25%, 55%, 1);
    --clr-green-opacity: hsla(135, 25%, 55%, 0.6);
    --clr-yellow: hsla(55, 95%, 75%, 1);
    --clr-yellow-light: hsla(55, 100%, 95%, 1);
    --clr-red: hsl(360, 100%, 70%);
    --clr-red-opacity: hsla(360, 100%, 70%, 0.5);

    --family-mono: 'PT Mono';
    --family-anonym: 'Anonymous Pro';
}